html
  head
    style.
      h2 {
      text-align:center;
      padding:20px
      }
      form  {
      border:2px solid #EEE;
      padding:80px;
      height:400px;
      width:400px;
      margin:auto
      }
      form input {
      padding:10px;
      margin:10px;
      background-color:#2ea44f;
      display:block;
      margin:12px auto;
      color:white;
      border-radius:10px;
      }
      form input[type="text"] {
      color:black;
      background-color:white;
      }
      form input[type="text"]:focus {
      border-radius:10px;
      }
      form  span {
      line-height: 1.5;
      color: #24292e;
      font-weight:bold;
      }
      .validation {
      color:red;
      padding:10px;
      font-weight:bold;
      letter-spacing:1px;
      display:block;
      margin:auto;
      padding:10px;
      margin:10px;
   
      }
  body
    h2 Reset Password
    form.resetForm
      .inputs
        span
          | Please Enter Your Email wich a reset token will be sent 
          br
        input(type='text' id="emailReset")
        br
        input(type='submit', value='send password reset email')
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
script(src='./js/forget.js')